{% extends 'base.j2' %}

{% block content %}
    <h2>Howdy!</h2>
    <p>This site will help you enroll in the {{ org }} GitHub Organization. </p>
    {% if not user_exists %}
    <br />
    <a class="btn btn-primary btn-lg" href="/enroll" role="button">Enroll</a>
    {% else %}
    <div class="alert alert-success" role="alert">
            <h4 class="alert-heading">Already Enrollment</h4>
            <p>You are already enrolled in the {{ org }} organization. <br /> 
            If you have not accepted the invitation, please check the email address associated with your GitHub account.</p>
        </div>
    {% endif %}
{% endblock %}